.header_container{
display:flex;
align-items: center;
justify-content: space-between;
}

.header_elements_title{
display: inline-block;
vertical-align: middle ;

}

.header_main{
display: inline-block;
vertical-align: middle ;
display: flex;
}

.info_section_content{
display: flex;
}



.footer_closing_container{
display: flex;
justify-content: space-between;   
}


